<!DOCTYPE html>
<html>
<head>
    <title>Unselphish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Unselphish</h1>
        <div class="menu-content">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/credits">Credits</a>
            <a href="/license">License</a>
        </div>
    </div>
    <div class="gap">
    </div>
    <div class="main">
        <h2>Scan Link</h2>
        <form action="/scan_link" method="post">
            <input class="fileinput" type="text" name="scan_link" required>
            <input class="submitbutton" type="submit" value="Submit">
        </form>

        <h2>Scan Singular Message</h2>
        <form action="/scan_singular_message" method="post">
            <input class="fileinput" type="text" name="scan_message" required>
            <input type="submit" value="Submit" class="submitbutton">
        </form>

        <h2>Threat Report From WhatsApp Chat</h2>
        <form action="/scan_whatsapp" method="post" enctype="multipart/form-data">
            <input class="fileinput" type="file" name="whatsapp_report" required>
            <input class="fileinput" type="text" name="author" required>
            <input class="submitbutton" type="submit" value="Upload">
        </form>

        <h2>Threat Report from Email (.eml)</h2>
        <form action="/scan_email" method="post" enctype="multipart/form-data">
            <input class="fileinput" type="file" name="email_report" required>
            <input class="submitbutton" type="submit" value="Upload">
        </form>

        <h2>Scan File</h2>
        <form action="/scan_file" method="post" enctype="multipart/form-data">
            <input class="fileinput" type="file" name="scan_file" required>
            <input class="submitbutton" type="submit" value="Upload">
        </form>
    </div>

    <div class="gap">
    </div>
    <!--div class="toggle">
        <p>Submit to database</p>
        <label class="switch">
            <input type="checkbox" id="toggleCheckbox" checked>
            <span class="slider round"></span>
          </label>
    </div-->

</body>

<!--script>
    function sendToggleStatus() {

        const toggleCheckbox = document.getElementById('toggleCheckbox');
        const isToggleEnabled = toggleCheckbox.checked;

        // Send the boolean value to the Flask server using AJAX
        $.ajax({
            type: "POST",
            url: "/update_toggle_status",
            contentType: "application/json",
            data: JSON.stringify({ is_enabled: isToggleEnabled }),
            success: function (response) {
                alert(response.message);
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
        
    }
    document.getElementById('toggleCheckbox').addEventListener('click', sendToggleStatus);
</script-->

</html>
